doctype html
html
  head
    title React Releases
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
  body
    #app!= body
    != state
    script(type="text/javascript" src="/build/client.min.js" defer)
